@{
    ViewBag.Title = "Welcome";
}

@using VirtualDeckStore.Models;

@{
    ApplicationDbContext db = new ApplicationDbContext();

    Product game = db.Products.SingleOrDefault(g => g.Name == "Starcraft II");
    int starId = game.Id;

    game = db.Products.SingleOrDefault(g => g.Name == "Dirt Rally");
    int dirtId = game.Id;

    game = db.Products.SingleOrDefault(g => g.Name == "Dark Souls");
    int darkId = game.Id;

    game = db.Products.SingleOrDefault(g => g.Name == "Civilization VI");
    int civId = game.Id;
    }
<div class="slider hidden-xs">
    
    <ul class="rslides">
        <li><a href="~/Products/Details/@(starId)"><img src="~/Content/Images/StarcraftII.jpg" alt="" /></a></li>
        <li><a href="~/Products/Details/@(dirtId)"><img src="~/Content/Images/DirtRally.jpg" alt="" /></a></li>
        <li><a href="~/Products/Details/@(darkId)"><img src="~/Content/Images/DarkSouls.jpg" alt="" /></a></li>
        <li><a href="~/Products/Details/@(civId)"><img src="~/Content/Images/CivilizationVI.jpg" alt="" /></a></li>
    </ul>
</div>
<br />

<h3 class="text-center">Click on a genre below to get started</h3><br />

<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
               
                <img src="~/Content/Images/adventure.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                
                <img src="~/Content/Images/racing.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                
                <img src="~/Content/Images/rpg.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/4">
                
                <img src="~/Content/Images/strategy.jpg" alt="" />
            </a>
        </div>
    </div>
</div>